.glyphicon-remove {
  float: right;
  top: -15px;
  cursor: pointer;
}
.modal-content {
  top: 9em;
}
.modal-header {
  background-color: #4d394b;
  color: white;
}
.modal-body .form-group, .modal-body .list-group {
  margin-bottom: 0px;
}

.modal-body label {
  margin-top: 10px;
  margin-bottom: 10px;
}
.modal-body .list-group-item {
  transition-duration: .2s;
}
.modal-body .list-group-item:hover {
  background-color: #4c9689;
  color: white;
}

.modal-footer {
  border-top: none;
  padding-top: 0px;
}
