.footer {
  left: 0;
  position: fixed;
  bottom: 10px;
  z-index: 10;
  width: 75%;
  left: 270px;
}
.footer.toggled {
  width: 95%;
  left: 20px;
}
.btn-list {
  color: white;
}
.btn-list.toggled {
  background-color: #7C4D80;
  color: white
}
.btn-list:hover, .btn:focus {
  outline: none;
  color: white;
}
.input-box_text {
  position: relative;
  font-size: .95rem;
  width: 100%;
  margin: auto auto auto auto;
  line-height: 1.2rem;
  border: 2px solid #e0e0e0;
  -moz-border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  border-radius: 0.2rem;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #3d3c40;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 0;
  bottom: 0;
  min-height: 41px !important;
  padding: 9px 5px 9px 8px;
}
.footer .btn {
  padding: 9px 20px 9px 20px
}

@media(max-width:768px) {
  .footer {
    width: 95%;
    left: 10px;
  }
  .footer.toggled {
    width: 75%;
    left: 270px;

  }
}
